{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Tender Management System{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Welcome to TMS</h1>
            <p class="lead mb-4">Streamline your procurement management processes with our comprehensive system.</p>
              {% if not user.is_authenticated %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 gap-3">
                    <i class="bi bi-box-arrow-in-right"></i> Login
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
