<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site_title|default:_('Admin') }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}">
    {% block extrastyle %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {% block header %}{% endblock %}
    {% block messages %}
        {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock messages %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>
